.address {
  background-color: var(--brown);
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.address h2 {
  font-family: var(--font-poppins-semi);
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: white;
  text-transform: uppercase;
}

.address p {
  font-family: var(--font-poppins-medium);
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: white;
}
