.address {
  background-color: var(--brown);
  padding: 55px;
}

.address h2 {
  font-family: var(--font-poppins-semi);
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: white;
  text-transform: uppercase;
}

.address p {
  font-family: var(--font-poppins-medium);
  font-weight: 500;
  font-size: 28px;
  line-height: 27px;
  color: white;
}
