/*HERO*/
.hero {
  background-color: var(--beige);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
}
.hero img {
  max-width: 100%;
  padding: 5px;
}
.title {
  padding: 50px;
}
.title h1 {
  text-transform: uppercase;
  color: white;
  font-family: var(--font-poppins-semi);
  font-size: 52px;
  line-height: 84.6px;
}

.title h4 {
  color: var(--brown);
  font-family: var(--font-spartan-semi);
  font-size: 24px;
  line-height: 30.6px;
}
