.hero {
  background-color: var(--beige);
  display: flex;
  align-items: center;
  margin-bottom: 137px;
  border-top: 1px solid var(--brown);
  border-bottom: 1px solid var(--brown);
  width: 100%;
}

.right {
  margin-right: 250px;
}

.right h1 {
  text-transform: uppercase;
  color: white;
  font-family: var(--font-poppins-semi);
  font-size: 72px;
  line-height: 84.6px;
}

.right h4 {
  color: var(--brown);
  font-family: var(--font-spartan-semi);
  font-size: 24px;
  line-height: 30.6px;
}

.left img {
  /* width: 677px;
    height: 788px; */
  width: 70%;
  height: 100%;
  margin-left: 5px;
  margin-top: 5px;
}
