/* RSVP button */
@keyframes move {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(15px);
  }
}

/*hero*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*ws pics*/

@keyframes fadeInPop {
  0% {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeInPop {
  0% {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInPop {
  0% {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeInPop {
  0% {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeInPop {
  0% {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
  100% {
    opacity: 1;
  }
}

/*address*/
@keyframes smokeAnim {
  0% {
    top: -2px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: -20px;
    opacity: 0;
  }
}
