@media screen and (min-width: 1025px) {
  .hero {
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }
  /*   .hero-img img {
    width: 40vw;
    height: 100vh;
  } */

  .hero-img {
    min-width: 630px;
    min-height: 788px;
    margin-right: 15px;
    flex: 1;
  }
  .title {
    padding-top: 150px;
    padding-left: 50px;
    flex: 2;
  }
  .title h1 {
    font-size: 72px;
  }

  .hero-img {
    width: 43%;
  }
  .ws-banner {
    height: 480px;
    padding: 80px;
    margin-bottom: 80px;
  }

  .ws-banner h2 {
    font-size: 98px;
    line-height: 125px;
    margin-bottom: -30px;
  }

  .ws-banner h3 {
    font-size: 64px;
    line-height: 96px;
  }

  .ws-banner p {
    font-family: var(--font-poppins-semi);
    font-size: 36px;
  }

  .ws-details h3 {
    font-size: 44px;
  }

  .ws-details h3 span {
    font-size: 44px;
  }

  .workshop {
    display: flex;
    padding-left: 165px;
  }
  .rsvp {
    margin: 50px 0 0 200px;
  }
  .half {
    float: left;
    width: 50%;
  }
  .right-pic {
    background-size: 100% 100%;
  }
  footer {
    flex-direction: row;
  }

  .social {
    padding-left: 50px;
  }
}
/* @media screen and (min-height: 500px) and (max-height: 722px) {
  .hero img {
    height: 60%;
  }
} */

@media screen and (max-width: 768px) {
  .left-pic {
    background-image: url("/assets/images/coffecircle-700.jpg");
  }
  .right-pic {
    background-image: url("/assets/images/coffee-700.png");
  }
}

@media screen and (max-width: 400px) {
  .left-pic {
    background-image: url("/assets/images/coffecircle-400.jpg");
  }
  .right-pic {
    background-image: url("/assets/images/coffee-400.png");
  }
  .title {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hero img {
    margin-bottom: -300px;
  }

  .title {
    padding: 100px;
  }
}
