@media screen and (min-width: 900px) {
  .hero {
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }
  .title {
    align-self: center;
  }
  .title h1 {
    font-size: 72px;
  }

  .hero-img {
    width: 50%;
  }

  .ws-banner h2 {
    font-size: 98px;
    line-height: 125px;
  }

  .ws-banner h3 {
    font-size: 64px;
    line-height: 96px;
  }

  .ws-banner p {
    font-family: var(--font-poppins-semi);
    font-size: 28px;
  }

  .ws-details h2 {
    font-size: 44px;
  }

  .ws-details h2 span {
    font-size: 44px;
  }

  .workshop {
    display: flex;
    padding-left: 200px;
  }
  .rsvp {
    margin-top: 350px;
    margin-left: 350px;
  }
  .half {
    float: left;
    width: 50%;
  }
}
