.organiser {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.organiser h3 {
  color: var(--brown);
  font-family: var(--font-spartan-bold);
  font-size: 24px;
  text-transform: uppercase;
}

.bean {
  width: 120px;
  margin: 25px;
}

.svan {
  width: 330px;
  margin: 25px;
}
