/*GENERAL*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}

.hide {
  opacity: 0;
}

/*LOGO*/

.beans-logo {
  display: flex;
  justify-content: center;
}
.beans-logo img {
  width: 124px;
  height: 135px;
  margin: 15px;
}
