/*GENERAL*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}

/*LOGO*/

.beans-logo {
  display: flex;
  justify-content: center;
}
.beans-logo img {
  width: 124px;
  margin: 15px;
}

.hide {
  opacity: 0;
}

body {
  opacity: 1;
  transition: fade-in 300ms ease-in;
}
