/*WORKSHOP*/

.ws-banner {
  background-color: var(--yellow);
  color: white;
  text-align: center;
  padding: 25px;
  margin-top: 50px;
}

.ws-banner h2 {
  font-family: var(--font-satisfy);
  font-size: 54px;
  font-weight: 400;
}

.ws-banner h3 {
  font-family: var(--font-poppins-bold);
  font-size: 36px;
  text-transform: uppercase;
}

.ws-banner p {
  font-family: var(--font-poppins-semi);
  font-size: 22px;
  text-transform: uppercase;
}

.ws-details {
  max-width: 559px;
}

.ws-details h2 {
  font-family: var(--font-spartan-semi);
  color: var(--brown);
  font-size: 22px;
  padding: 25px;
}

.ws-details h2 span {
  color: var(--yellow);
  font-family: var(--font-spartan-bold);
  font-size: 22px;
}

.ws-details-bold {
  font-family: var(--font-spartan-bold);
  font-size: 18px;
  padding: 25px;
  line-height: 31px;
}

.ws-detail-medium {
  font-family: var(--font-spartan-medium);
  font-size: 18px;
  padding: 25px;
  line-height: 31px;
}

.circle {
  width: 194px;
  height: 194px;
  background-color: var(--yellow);
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle h2 {
  font-family: var(--font-poppins-medium);
  color: white;
  font-weight: 500;
  font-size: 48px;
}

.left-pic {
  background-image: url("/assets/images/coffecircle.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.right-pic {
  background-image: url("/assets/images/coffee.jfif");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ws-pics {
  margin-top: 25px;
}
