/*WORKSHOP*/

.ws-banner {
  background-color: var(--yellow);
  color: white;
  text-align: center;
  padding: 25px;
  margin-top: 150px;
  margin-bottom: 80px;
}

.ws-banner h2 {
  font-family: var(--font-satisfy);
  font-size: 54px;
  font-weight: 400;
}

.ws-banner h3 {
  font-family: var(--font-poppins-bold);
  font-size: 36px;
  text-transform: uppercase;
}

.ws-banner p {
  font-family: var(--font-poppins-semi);
  font-size: 22px;
  text-transform: uppercase;
}

.ws-details {
  max-width: 559px;
}

.ws-details p {
  color: var(--brown);
}

.ws-details h3 {
  font-family: var(--font-spartan-semi);
  color: var(--brown);
  font-size: 26px;
  padding: 25px 5px 25px 25px;
}

.ws-details-bold {
  font-family: var(--font-spartan-bold);
  font-size: 18px;
  padding: 25px;
  line-height: 31px;
}

.ws-detail-medium {
  font-family: var(--font-spartan-medium);
  font-size: 18px;
  padding: 25px;
  line-height: 31px;
}

.circle {
  width: 194px;
  height: 194px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-button {
  font-family: var(--font-poppins-medium);
  color: white;
  font-weight: 500;
  font-size: 48px;
  background: none;
  border: none;
  cursor: pointer;
  background-color: var(--yellow);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
}

.form-button:hover {
  border: none;
  animation-name: move;
  animation-duration: 400ms;
  box-shadow: 10px 10px 15px rgba(221, 218, 218, 0.521);
}
.form-button span {
  font-size: 18px;
}
.left-pic {
  background-image: url("/assets/images/coffecircle.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.4s;
}

.right-pic {
  background-image: url("/assets/images/coffee.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.4s;
}

.ws-pics {
  margin-top: 45px;
}

.form-content {
  display: none;
  font-family: var(--font-spartan-bold);
  font-size: 18px;
  padding: 25px;
  line-height: 31px;
  color: var(--brown);
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: var(--yellow);
  opacity: 0.9;
  font-family: var(--font-spartan-medium);
  color: var(--brown);
}
label {
  font-family: var(--font-spartan-medium);
}

.radio {
  padding-bottom: 25px;
}

.form-content p {
  font-family: var(--font-spartan-medium);
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.cancel {
  font-family: var(--font-spartan-bold);
  font-size: 18px;
  padding: 25px;
  opacity: 0.8;
  background-color: var(--beige);
  border: none;
  color: var(--dark-beige);
}

.signup {
  font-family: var(--font-spartan-bold);
  color: var(--dark-beige);
  font-size: 18px;
  padding: 25px;
  opacity: 0.9;
  background-color: var(--yellow);
  border: none;
}

.signup:hover,
.cancel:hover {
  opacity: 1;
  border: 1px solid var(--brown);
}

/* input[type="radio"] {
  position: absolute;
  visibility: hidden;
  display: none;
}

input[type="radio"] + label {
  color: black;
  display: inline-block;
  cursor: pointer;
  padding: 5px 20px;
}

input[type="radio"]:checked + label {
  color: black;
  background: var(--yellow);
  border-radius: 50%;
} */

.guest {
  font-family: var(--font-spartan-bold);
  color: var(--brown);
  font-size: 26px;
}

.yellow {
  color: var(--yellow);
  font-family: var(--font-spartan-bold);
  font-size: 26px;
}

.hidden {
  opacity: 0;
}

.fade-in-pop {
  animation: fadeInPop ease-in-out 3s;
  -webkit-animation: fadeInPop ease-in-out 3s;
  -moz-animation: fadeInPop ease-in-out 3s;
  -o-animation: fadeInPop ease-in-out 3s;
  -ms-animation: fadeInPop ease-in-out 3s;
}
