/*WORKSHOP*/

.ws-banner {
  background-color: var(--yellow);
  color: white;
  text-align: center;
  padding: 25px;
  margin-top: 150px;
}

.ws-banner h2 {
  font-family: var(--font-satisfy);
  font-size: 54px;
  font-weight: 400;
}

.ws-banner h3 {
  font-family: var(--font-poppins-bold);
  font-size: 36px;
  text-transform: uppercase;
}

.ws-banner p {
  font-family: var(--font-poppins-semi);
  font-size: 22px;
  text-transform: uppercase;
}
